<form>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="email" class="form-control" id="title" />
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea class="form-control" id="content" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input class="form-control" type="file" id="image" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
