<div ngbDropdown class="d-inline-block" id="myDropdown">
  <button
    type="button"
    class="btn btn-outline-primary"
    id="dropdown"
    ngbDropdownToggle>
    Toggle
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdown">
    <button ngbDropdownItem (click)="onUpdateClicked(950)">Update</button>
    <button ngbDropdownItem (click)="onDeleteClicked(950)">Delete</button>
  </div>
</div>
<img
  src="https://res.cloudinary.com/sontd-nal-vn/image/upload/v1710506783/ye66qvvmebignj9tpkyn.jpg"
  alt="Banner image" />
<p>Posted Jan 10, 1998</p>
<h3>Blog title</h3>
<p>Blog content</p>
