.card {
  border: 0;
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.bi-arrow-right {
  display: inline-block;
}

.btn > .bi-arrow-right {
  transition: all 0.2s ease-in-out;
  transition-property: transform;
}

.btn:hover > .bi-arrow-right {
  transform: translateX(0.25rem);
}

.img-wrapper {
  width: 300px;
  height: 200px;
}
